<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="examproject.group22.roominator">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/shoppingicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/loginActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ApartmentLogIn"
            android:label="@string/loginApartmentActivity"
            android:noHistory="true"/>

		<service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Activities.SignUpActivity"
            android:label="@string/SignUpActivity"/>/>
        <activity
            android:name=".Activities.AddProductActivity"
            android:label="@string/title_activity_add_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.BuyProductActivity"
            android:label="@string/title_activity_buy_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.DetailActivity"/>
        <activity android:name=".Activities.OverviewActivity"/>



    </application>

</manifest>